body {
    font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
    color: #2e2f42;
    background-color: #ffffff;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-header-first-part {
    color: #4d5ae5;
}
.logo-header-second-part {
    color: #2e2f42;
}
.menu-nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menu-nav-list:hover {
    color: #FF5733;
}
.menu-nav-list:focus {
    color: #8B0000;
}
address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-contacts:hover {
    color: #FF5733;
}
.address-contacts:focus {
    color: #8B0000;
    }
.hero {
    background-color: #2e2f42;
}
.hero-name {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #4d5ae5;
}
button:hover {
    color: #FF5733;
}
button:focus{
    color: #8B0000;
}
.benefits-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background: #f4f4fd;
}
.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-team-list {
    background-color: #ffffff;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-name-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.our-portfolio-list {
    background-color: #ffffff;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-name-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
footer {
    background: #2e2f42;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-footer-first-part {
    color: #4d5ae5;
}
.logo-footer-second-part {
    color: #f4f4fd;
}
.logo-footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}